/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height: 60px;
}
/* Navigation bar */
#navbar{
    display: flex;
    position: sticky;
    align-items: center;
    top: 0px;

}

#navbar::before{
    content: " ";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}
/*Navigation bar: Logo and Image */
#logo{
    margin: 0px 0px;
}
#logo img{
    margin: 25px 25px;
    height: 70px;
    width: 70px;
}

/* Navigation bar: List Styling */
#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.5rem;
}
#navbar ul li a{
    display: block;
    padding: 4px 40px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    color: rgb(234, 19, 55);
    background-color: rgb(175, 238, 215);
}

/* Home Section  */
#home{
    display: flex;
    flex-direction: column;
    height: 600px;
    padding: 5px 150px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-family: 'Baloo Bhai 2', sans-serif;
    
    
}
#home::before{
    content: " ";
    background: url(restaurant-44.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}


#home p{
    text-align: center;
    color: black;
    font-size: 1.15rem;
    font-family: 'Baloo Bhai 2', sans-serif;

}
/* Services Section */
#services{
    display: flex;
    margin: 34px;
}
#services .box{
    border: 2px solid red;
    padding: 15px;
    margin: 1px 15px;
    border-radius: 10px;
    background-color: azure;

}
#services .box img{
    display: block;
    margin: auto;
    width: 150px;
}
#services .box p{
    font-family: 'Baloo Bhai 2', sans-serif;

}

/* Client Section */
.client-section{
    height: 350px; 
}
.client-section::before{
    content: ""; 
    position: absolute;
    background: url(restaurant.jpg) no-repeat center center/cover;
    width: 100%;
    height: 70%;
    z-index: -1;
    opacity: 0.5;
}
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}
.client-item{
    padding: 40px;

} 
#clients img{
    height: 150px;
    width: 200px;
}

/* contact Section */
#contact{
    position: relative;
    height: 520px;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url(contact-us-2993000_640.jpg) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.2rem;
    border-radius: 10px;
    font-size: 0.85rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', sans-serif;
}

footer{
    background: black;
    padding: 10px 25px;
    color: white;

}

/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', sans-serif;
    /* color: white; */
}
.h-secondary{
    font-size: 2.25rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', sans-serif;
}    
.btn{
    padding: 5px 20px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: cornsilk;
    margin: 17px;
    font-size: 1.25rem;
    cursor: pointer;
}
.center{
    text-align: center;
}

